<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add Courses</title>


    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="/../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/../../static/bootstrap/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" >
    <style type="text/css">
      #us {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
      }
      #us h3 {
        margin: 0 0 0 0;
      }
      .submitbt {
        width: 100%;
        height: 130%;
        background-color: #337ab7;
        color: white;
        border: none;
        border-radius: 5px;
      }
      table {
        width: 30%;
        height: 60%;
        margin-top: 30px;
      }
      table tr td {
        padding-bottom: 10px;
      }
      #signout {
        width: 100px;
        height: 20px;
      }
      #signout a {
        padding: 2px 0px 2px 20px;
      }
    </style>
  </head>
  <body style="background-color:#ccc;">

    <div class="container-fluid px-0">	
      <header>	<div class="shape"></div>	
        <!-- Navbar -->	
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top"> 
          <a class="navbar-brand " href="/courses" style="margin-left: 10px;">Courses</a> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
          </button> 
          <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <div class="col-lg-9">
              <ul class="navbar-nav mr-auto"> 
                <li class="nav-item"> 
                  <a class="nav-link active" href="/add">Add Courses 
                  </a> 
                </li> 
                <li class="nav-item"> 
                  <a class="nav-link" href="/enrolled_courses">Enrolled Courses</a> 
                </li> 
                <!-- <li class="nav-item"> 
                <a class="nav-link" href="/course_dashboard">Course Dashboard</a> 
                </li>  -->
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" role="presentation" href="/course_dashboard">Course</a>
					          <a class="dropdown-item" role="presentation" href="/enrolled_courses_dashboard">Enrolled Courses Dashboard</a>
                  </div>
                </li>
              </ul> 
            </div>
    
     
            <div class="col-lg-3">
              <span style="margin-left:150px"> 
                <a class="login" style="color:#0d6efd" >{{session['current_user']}}</a>
              </span>
              <a class="btn btn-secondary" role="button" href="/logout" style="float: right;color: #f8f9fa;margin-right: 20px;">
                Sign Out
              </a>
            </div>
    
          </div>	
        </nav>	<!-- ./ end of navbar -->
      </header>	
    </div>

    <div class="container-fluid px-0" style="margin-top: 100px;">
      <form action="" method="POST">
        <table align="center">
          <tr>
            <td>
              {{ reader.course_name(class="form-control",placeholder="Course Name") }}
            </td>
          </tr>
          <tr>
            <td>
              {{ reader.learning_hours(class="form-control",rows="3",placeholder="Learning Hours")
              }}
            </td>
          </tr>
          <tr>
            <td>
              {{ reader.rating(class="form-control",placeholder="Rating") }}
            </td>
          </tr>
          <tr>
            <td>
              {{ reader.course_type(class="form-control",rows="3",placeholder="Course Type")
              }}
            </td>
          </tr>
          <tr>
            <td>
              {{ reader.price(class="form-control",placeholder="Price") }}
            </td>
          </tr>
          <tr>
            <td>
              {{ reader.subject(class="form-control",rows="3",placeholder="Subject")
              }}
            </td>
          </tr>
          <tr>
            <td align="center">
              <input class="submitbt" type="submit" value="Post" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
